:root {
  --c-primary-light: #fff;
  --c-primary-dunckel: #404bbf;
  --c-dunckel: #2e2f42;
  --c-but: #4d5ae5;
  --c-haup: #434455;
  --c-back-team: #f4f4fd;
  --GREY: #2e2f42b2;
  --LIGHT-SLATE: #8e8f99;
}

/* Header*/
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--c-but);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo .accent {
  color: var(--c-dunckel);
}

.accent-light {
  color: var(--c-back-team);
}

.nav-list {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 40px;
}

.nav-link {
  display: inline-block;
  color: var(--c-dunckel);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.nav-link-first {
  display: inline-block;
  color: var(
    --c-primary-dunckel
  ); /*1111  У першому пункті меню у посилання в класі заданий стиль color: var(--c-primary-dunckel); для визначення кольору тексту*/
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:active {
  color: var(--c-primary-dunckel);
}

.nav-link-first::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 48px;
  background-color: var(--c-primary-dunckel);
  border-radius: 2px;
}
.nav-link:focus {
  color: var(--c-primary-dunckel);
}

.nav-link:hover {
  color: var(--c-primary-dunckel);
}

.header-social {
  display: flex;
  gap: 40px;
}

.header-all {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
body {
  color: var(--c-haup);
  background-color: var(--c-primary-light);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

.section {
  padding: 12px 64px 12px 0;
}

.container {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.adress {
  font-style: normal;
  margin-left: auto;
}
.adress-a {
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--c-haup);
  display: inline-block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-a:hover {
  color: var(--c-primary-dunckel);
}
.adress-a:focus {
  color: var(--c-primary-dunckel);
}

/*section 1 Effective Solutions for Your Business */
.dark-bg-section {
  background-color: var(--c-dunckel);
  padding: 188px 0;
  text-align: center;
  margin: 0 auto; /* zentrierter Titel */
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);
}
.effect {
  color: var(--c-primary-light);
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  max-width: 496px;
  /* text-align: center;*/ /*если раскомментировать
   о фото распологаются в столбик*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.effect-button {
  background: var(--c-but);
  color: var(--c-primary-light);
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.effect-dop {
  display: block;
}
.effect-button:hover {
  background: var(--c-primary-dunckel);
  color: var(--c-primary-light);
}
.effect-button:focus {
  background: var(--c-primary-dunckel);
}

/*display: block; для можливості центрувати кнопку 
через властивість margin

min-width: 169px для визначення мінімальної ширини кнопки

height: 56px для визначення висоти кнопки

border: none; для вимкнення стандартного оформлення кнопки

background-color: в який записана css змінна зі значенням #4d5ae5; для зазначення фону кнопки

border-radius: 4px; для визначення заокруглень у кнопки

cursor: pointer; для визначення типу курсору на кнопці*/

/*  section 2 Our advantages  */
.advantages-all {
  padding: 120px 0;
}
.advantages-h {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--c-dunckel);
  margin-bottom: 8px;
}

.advantages-p {
  line-height: 1.5em;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.advantage-list {
  display: flex;
  gap: 24px;
}

.advantages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid var(--LIGHT-SLATE);
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantage-item {
  background-color: #ffffff;
  display: inline-block;
  width: calc((100% - 72px) / 4);
  gap: 60;
}

/* hide this title visually        .visually-hidden {
           display: none;
       }*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*section 3  Our Team*/

.sec-team {
  padding: 120px 0;
  background-color: var(--c-back-team);
}
.our-team {
  color: var(--c-dunckel);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.team-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--c-dunckel);
  margin-bottom: 8px;
}
.portfolio-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--c-dunckel);
  margin-bottom: 8px;
}

.list-backgr-light {
  display: inline-block;
  width: calc((100% - 48px) / 3);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-backgr-light:hover .portfolio-foto-text {
  transform: translateY(0%);
}

.staff-description {
  color: var(--c-haup);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-description {
  color: var(--c-haup);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-align: left;
}

.team-container {
  padding: 32px 0;
}

/* /////////  section 4   portfolio   ////////////// */
.portfolio-all {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-hidden {
  color: var(--c-dunckel);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/*  ///////////// footer  ///////////// */
.dark-bg-section-footer {
  background-color: var(--c-dunckel);
  padding: 100px 0;
  margin: 0 auto;
}
.p-footer {
  color: var(--c-back-team);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.box {
  display: block;
}

.footerf {
  display: inline-block;
  margin-bottom: 16px;
}
.effect-dop {
  justify-content: flex-start;
}
.effect-dop-footer {
  justify-content: flex-start;
  display: flex;
  align-items: baseline;
}

.team-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icons-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-a:hover {
  background-color: var(--c-primary-dunckel);
}

.team-icons-a:focus {
  background-color: var(--c-primary-dunckel);
}
.team-icons-item {
  width: 40px;
  height: 40px;
}

.team-icons-item-s {
  fill: #f4f4fd;
}

.portfolio-foto {
  position: relative;
  overflow: hidden;
}

.portfolio-foto-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo-p {
  margin-right: 120px;
}
.social-media-text {
  font-weight: 500;

  font-size: 16px;

  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #ffffff;

  margin-bottom: 16px;
}
.social-media-ul {
  display: flex;
  gap: 16px;
}
.social-media-li {
  width: 40px;

  height: 40px;
}
.social-media-a {
  width: 100%;

  height: 100%;

  background-color: #4d5ae5;

  border-radius: 50%;

  display: flex;

  align-items: center;

  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-a:hover {
  background-color: #31d0aa;
}
.social-media-a:focus {
  background-color: #31d0aa;
}
.social-media-s {
  fill: #f4f4fd;
}

/* Modal*/
.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: scale(0);
}

/*END Modal*/
.forma-h {
  color: #2e2f42;
  font-family: Roboto;
  font-style: normal;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.user-m-form {
  margin-bottom: 8px;
}
.user-name-l {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.user-form-in {
  position: relative;
}
.user-form-textarea {
  margin-bottom: 16px;
}
.user-name-class {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-name-class:focus {
  outline: none;
  border-color: #4d5ae5;
}

.icon-person {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover {
  background-color: var(--c-primary-dunckel);
  border: none;
}
.modal-close:focus {
  background-color: var(--c-primary-dunckel);
  border: none;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icon-close {
  fill: #ffffff;
}
.modal-close:focus .icon-close {
  fill: #ffffff;
}

.user-name-class:focus + .icon-person {
  fill: #4d5ae5;
}

/*!!!!*/
.modal-checkbox-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;

  align-items: center;

  justify-content: center;

  fill: transparent;
}
.modal-checkbox-icon {
  opacity: 0;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

/*
modal-checkbox-input  - input
modal-checkbox-label   - label
modal-checkbox-check  - span в котором лежит 
modal-checkbox-icon  - иконка


*/
.modal-checkbox-input:checked
  + .modal-checkbox-label
  .modal-checkbox-check
  .modal-checkbox-icon {
  opacity: 1;
}
.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkbox-check {
  background-color: var(--c-primary-dunckel);
  border: none;
  fill: #f4f4fd;
}

.user-check-div {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal-chekbox-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

/*<input type="checkbox" id="user-privacy">
<span class="user-privacy-span">Текст в span</span>

CSS:

css

/* Стиль для span, когда input в состоянии checked 


#user-privacy:checked + .user-privacy-span {
    background-color: var(--c-primary-dunckel);
}*/
.user-privacy:checked + .user-privacy-span {
  background-color: var(--c-primary-dunckel);
  border: none;
  fill: #f4f4fd;
}
.a-privacy-policy {
  color: #4d5ae5;
}
.user-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5 для;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*sub*/
.sub {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.sub-form {
  display: flex;
  gap: 24px;
}

.sub-in-class {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.sub-but {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.sub-svg-class {
  margin-left: 16px;
  fill: #ffffff;
}
/**/

.social-div {
  margin-right: auto;
}
