.hidden {
  display: none;
}

:root {
  --c-primary-light: #fff;
  --c-primary-dunckel: #404bbf;
  --c-dunckel: #2e2f42;
  --c-but: #4d5ae5;
  --c-haup: #434455;
  --c-back-team: #f4f4fd;
  --GREY: #2e2f42b2;
  --LIGHT-SLATE: #8e8f99;
}

body {
  color: var(--c-haup);
  background-color: var(--c-primary-light);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%; /* новое */
  height: auto; /* новое */
}

button {
  cursor: pointer;
}
/* common */
.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  padding: 0 16px 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  /* display: flex;
  align-items: center;
    margin-right: 76px; */

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/*       mobile-menu  */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 24px;
  right: 24px;

  min-width: 24px;
  min-height: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
}
.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-item {
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11x;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  text-transform: capitalize;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus,
.mobile-menu-link.current {
  color: #404bbf;
}

.mobile-menu-contacts-link:hover,
.mobile-menu-contacts-link:focus,
.mobile-menu-contacts-link.current {
  color: #4d5ae5;
}

.mobile-menu-contacts-list {
  margin-bottom: 48px;
}

.mobile-menu-contacts-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  font-style: normal;
  letter-spacing: 0.02em;
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu-social-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.mobile-menu-social-link {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu-social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*end  mobile-menu*/

/* sec1  Effective Solutions for Your Business*/
.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--c-dunckel);
  padding: 72px 0;
  max-width: 320px;
  text-align: center;
  margin: 0 auto;
}
.hero-title {
  color: var(--c-primary-light);

  /*   font-size: 56px; */
  font-size: 36px;
  font-weight: 700;
  /*
  line-height: 40px
  line-height: 1.07;*/
  line-height: 40px;
  letter-spacing: 0.02em;
  /*max-width: 1440px;
  max-width: 768px;*/
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  /*
  margin-bottom: 48px;
  margin-bottom: 36px;*/
  margin-bottom: 72px;
}
.hero-button {
  background: var(--c-but);
  color: var(--c-primary-light);
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.effect-dop {
  display: block;
}
.hero-button:hover {
  background: var(--c-primary-dunckel);
  color: var(--c-primary-light);
}
.hero-button:focus {
  background: var(--c-primary-dunckel);
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 0;
    max-width: 768px;
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
    line-height: 1.07em;
  }
}
@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}

/* end sec1  Effective Solutions for Your Business*/
/*   sec 2 Our advantages*/
.section {
  padding: 12px 64px 12px 0;
}
.advantages-all {
  padding: 96px 0;
}
.advantages-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.advantage-item {
  width: 100%;
}
.advantages-icon {
  display: none;
}
.advantages-text {
  line-height: 1.5em;
  letter-spacing: 0.02em;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .advantages-title {
    text-align: start;
  }

  .advantage-list {
    gap: 24px;
    row-gap: 72px;
  }
  .advantage-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .advantage-list {
    flex-wrap: nowrap;
  }
  .advantage-item {
    /* 
    display: inline-block;
    width: calc((100% - 72px) / 4);
    gap: 60;*/
  }
  .advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid var(--LIGHT-SLATE);
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .advantages-text {
    line-height: 1.5em;
    font-weight: 400;
  }

  .advantages-all {
    padding: 120px 0;
  }
}
/* end  sec2 Our advantages*/

/*  ===========================================================================*/
/*  ===========================     sec3  Our Team    =========================*/
/*  =====стили сохранила в файле 11.txt ======================================================================*/
.sec-team {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.our-team {
  /* заголовок всей секции  Team */
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.team-item {
  /*display: inline-block;
  width: calc((100% - 48px) / 3);*/
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* это <div внём фио, должность и соцкнопки */
.team-container {
  padding: 32px 0;
  text-align: center;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--c-dunckel);
  margin-bottom: 8px;
}
.team-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-icons-item {
}
.team-icons-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-item-s {
  fill: #f4f4fd;
}
.team-icons-link:hover,
.team-icons-link:focus {
  background-color: var(--c-primary-dunckel);
}
@media screen and (min-width: 768px) {
  .team-list {
    gap: 24px;
    row-gap: 64px;
  }
  .team-item {
    /*flex-basis: calc((100% - 24px) / 2);*/
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
/*end  sec3  Our Team*/

/*////////////////  section 4  portfolio   //////////*/
.portfolio {
  color: var(--c-dunckel);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-item {
  flex-basis: 100%;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}
.portfolio-item .overlay {
  color: #f4f4fd;
  padding: 40px 32px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--c-dunckel);
  margin-bottom: 8px;
}
.portfolio-text {
  color: var(--c-haup);
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.container4 {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px 0 16px;
}
.section4 {
  padding: 96px 0;
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .portfolio-list {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
  }
  .container4 {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  .portfolio-list {
    row-gap: 48px;
  }
  .container4 {
    width: 1158px;
  }

  .section4 {
    padding: 120px 0;
  }
  .portfolio-item {
    box-shadow: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
}
/* end ////////////////  section 4  portfolio   //////////*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  margin: 0 auto;
}

.footer .container4 {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: flex-start;
  /*align-items: baseline;*/
}
.logo-footer-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-left: 16px;
}
.logo-accent-footer {
  color: #f4f4fd;
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
  padding-left: 102px;
  padding-right: 103px;

  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.17; /* 116.667% */
  letter-spacing: 0.03;
  text-transform: uppercase;
}
.social-media-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-media-title {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.social-icons-footer-list {
  display: flex;
  gap: 16px;
}
.icons-footer {
  fill: #f4f4fd;
}
.social-icons-footer-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-footer-link:hover,
.social-icons-footer-link:focus {
  background-color: #31d0aa;
}
.subscribe-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.subscribe-input {
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe-input::placeholder {
  color: #ffffff;
}
.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer .container4 {
    gap: 72px 24px;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
  }
  .footer-text {
    width: 264px;
    padding-left: 0;
  }
  .logo-footer {
    padding-left: 0;
    padding-right: 0;
  }
  .subscribe-block {
    align-items: flex-start;
  }
  .subscribe-form {
    flex-direction: row;
  }
  .subscribe-input {
    width: 264px;
  }
  .social-media-title {
    width: 100%;
  }
}
@media screen and (min-width: 1158px) {
  .footer .container4 {
    gap: 72px 24px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .logo-footer-block {
    margin-right: 120px;
  }
  .social-media-block {
    margin-right: 80px;
  }
}

/*=============модальное окно ========*/
.modal-checkbox-icon {
  opacity: 0;
}
/*
modal-checkbox-input  - input
modal-checkbox-label   - label
modal-checkbox-check  - span в котором лежит 
modal-checkbox-icon  - иконка
*/
.modal-checkbox-input:checked
  + .modal-checkbox-label
  .modal-checkbox-check
  .modal-checkbox-icon {
  opacity: 1;
}
.modal-checkbox-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;

  align-items: center;

  justify-content: center;

  fill: transparent;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
/* Modal*/
.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: scale(0);
}

/*END Modal*/
.modal-title {
  color: #2e2f42;
  font-family: Roboto;
  font-style: normal;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}

.user-name,
.user-phone,
.user-email,
.user-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modul-imput-wrap {
  position: relative;
}
.user-form-textarea {
  margin-bottom: 16px;
}
.user-name-class,
.user-phone-class,
.user-email-class {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-name-class:focus,
.user-phone-class:focus,
.user-email-class:focus {
  outline: none;
  border-color: #4d5ae5;
}

.icon-person {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover {
  background-color: var(--c-primary-dunckel);
  border: none;
}
.modal-close:focus {
  background-color: var(--c-primary-dunckel);
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #ffffff;
}

.user-phone-class:focus + .icon-person,
.user-email-class:focus + .icon-person,
.user-name-class:focus + .icon-person {
  fill: #4d5ae5;
}

/*!!!!*/

.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkbox-check {
  background-color: var(--c-primary-dunckel);
  border: none;
  fill: #f4f4fd;
}

.user-check-div {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal-chekbox-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

/*<input type="checkbox" id="user-privacy">
<span class="user-privacy-span">Текст в span</span>

CSS:

css

/* Стиль для span, когда input в состоянии checked 


#user-privacy:checked + .user-privacy-span {
    background-color: var(--c-primary-dunckel);
}*/
.user-privacy:checked + .user-privacy-span {
  background-color: var(--c-primary-dunckel);
  border: none;
  fill: #f4f4fd;
}
.privacy-policy {
  color: #4d5ae5;
}
.modal-button {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1158px) {
}
